doctype 5
html(lang="en")
	head
		link(rel="stylesheet", href="style.css")
	body
		.main
			each avatar, i in urls
					.post
						img(src=avatar)
						p #{tags[i]}
		.footer
			.backbutton
				a(href ="/") Try another one?
			.source
				a(href="https://github.com/maxmechanic/reblog-tree") Source
	script
		var gradient = 256;
		var elements = document.querySelectorAll('.post');
		var bumpBy = Math.floor(256 / elements.length);
		for (var i = 0; i < elements.length; i++) {
			if (!elements[i].style) elements[i].style = {};
			elements[i].style.borderColor = "rgb(" + gradient + "," + gradient + "," + gradient + ")";
			gradient -= bumpBy;
			console.log(gradient);
		}
